<!DOCTYPE html>
<html ng-app="testmodule">
	<head>
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
		<!-- endbower -->
	</head>
	<body ng-controller="testController as vm" class="container">
		<div ng-repeat="row in vm.nullUndefined">
			<div class="row well">
				<div class="col-md-2">isNullOrUndefined</div>
				<div class="col-md-2">value : {{row.value}}</div>
				<div class="col-md-2">result : {{row.result}}</div>
			</div>
		</div>
		<div ng-repeat="row in vm.nullEmpty">
			<div class="row well">
				<div class="col-md-2">isNullOrEmpty</div>
				<div class="col-md-2">value : {{row.value}}</div>
				<div class="col-md-2">result : {{row.result}}</div>
			</div>
		</div>
		<!-- bower:js -->
		<script src="bower_components/lodash/lodash.js"></script>
		<script src="bower_components/angularjs/angular.js"></script>
		<!-- endbower -->
		<!-- sourcejs:js -->
		<script src="src/ngdash.js"></script>
		<!-- endinject -->
		<!-- testfixturejs:js -->
		<script src="testfixture/testsfixture.js"></script>
		<!-- endinject -->
	</body>
</html>
